<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ex-dischi-musicali</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
      <div id="app">

        <header>
          <div class="container">
            <img src="logo.png" alt="logo"/>
            <div class="search">
              <div class="">Filtra per categoria</div>
              <select v-model="selected" @click="selectFunction">
                <option disabled value="">Scegli una categoria</option>
                <option>Tutti i generi</option>
                <option>Rock</option>
                <option>Metal</option>
                <option>Jazz</option>
                <option>Pop</option>
              </select>
            </div>
          </div>
        </header>

        <div class="cds-container container">
          <div v-for="element in albumToRender" class="cd">
            <img :src="element.poster" alt="">
            <h3>{{element.title}}</h3>
            <span class="author">{{element.author}}</span>
            <span class="year">{{element.year}}</span>
          </div>
        </div>

      </div>
      <script src="js/main.js" charset="utf-8"></script>
    </body>
</html>
